{% extends 'base.html.twig' %}

{% block title %}Useraccess index{% endblock %}
{% block stylesheets %}
<style>

</style>
{% endblock %}
{% block body %}
<div>
    <h1> Bank Tranning </h1> 
<p>This website is design for </p>
<p> test purposes </p>
</div>

{% endblock %}
