{% extends 'base.html.twig' %}

{% block title %}Edit Tranfers{% endblock %}

{% block body %}
    <h1>Edit Tranfers</h1>

    {{ include('tranfers/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tranfers_index',{ 'acc':acc}) }}">back to list</a>

    {{ include('tranfers/_delete_form.html.twig') }}
{% endblock %}
