{% extends 'base.html.twig' %}

{% block title %}New Tranfers{% endblock %}

{% block body %}
    <h1>Create new Tranfers</h1>

    {{ include('tranfers/_form.html.twig') }}

    <a href="{{ path('tranfers_index',{ 'acc':acc}) }}">back to list</a>
{% endblock %}
